.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 15px 0;
  font-size: 1.5rem;
  border-radius: 5px;

   background-color: rgb(197, 255, 197);
  border-color: green;
  color: black;
}

.todoText {
  width: 70%;
  text-align: left;
}

.todoIcon {
  font-size: 1.8rem;
  margin-right: 10px;
  color: teal;
}

.status {
  display: flex;
  align-items: center;
}

.deleteIcon,
.editIcon {
  cursor: pointer;
  color: rgb(0, 0, 0);
  padding: 0 7px;
  font-size: 1.8rem;
  transition: transform 0.3s;
}

.deleteIcon:hover,
.editIcon:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.deleteIcon:hover {
  color: red;
}

.editIcon:hover {
  color: orange;
}

.todo.waiting {
  background-color: rgb(255, 191, 191);
  border-color: red;
  color: black;
}

.todo.inProgress {
  background-color: rgb(255, 255, 91);
  border-color: yellow;
  color: black;
}

